.App {
min-height: 100vh;
background:rgb(8, 8, 51);
}
 .search-form {
   min-height: 10vh;
   display: flex;
   justify-content: center;
   align-items: center;

 }

.search-bar{
  border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px 0px 0px 5px;
  border: 2px solid #4c398a;
  width: 50%;
  padding: 10px;

}

.search-button {
  padding: 10px 20px;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin:20px;
}